.sublanding-categories {
    padding-top: 25px;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #6d6e71;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}